Flows/CompassDashboard.flow
[
    {
        "id": "6763dece.72bab",
        "type": "ibmiot in",
        "z": "4ae1ad00.14ece4",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterfaceId": "",
        "ruleId": "",
        "deviceId": "bluecoindjl",
        "applicationId": "",
        "deviceType": "bluecoin",
        "eventType": "",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "13d2d88d.3f8597"
            ]
        ]
    },
    {
        "id": "13d2d88d.3f8597",
        "type": "switch",
        "z": "4ae1ad00.14ece4",
        "name": "",
        "property": "eventType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Compass",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "1f2b8d5.2aeae73"
            ]
        ]
    },
    {
        "id": "1f2b8d5.2aeae73",
        "type": "change",
        "z": "4ae1ad00.14ece4",
        "name": "payload to angle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Angle",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 180,
        "wires": [
            [
                "2c5d785c.7230b8",
                "9c7454ec.e1ee68",
                "d140129c.a5e62"
            ]
        ]
    },
    {
        "id": "2c5d785c.7230b8",
        "type": "debug",
        "z": "4ae1ad00.14ece4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "9c7454ec.e1ee68",
        "type": "ui_gauge",
        "z": "4ae1ad00.14ece4",
        "name": "",
        "group": "a2ea1a2.d8af1e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Compass",
        "label": "degrees",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "d140129c.a5e62",
        "type": "switch",
        "z": "4ae1ad00.14ece4",
        "name": "Direction",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "45",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "315",
                "vt": "num",
                "v2": "360",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "45",
                "vt": "num",
                "v2": "135",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "135",
                "vt": "num",
                "v2": "225",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "225",
                "vt": "num",
                "v2": "315",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "25e1af4d.a14fd"
            ],
            [
                "25e1af4d.a14fd"
            ],
            [
                "fbe6b425.d81ed8"
            ],
            [
                "a7c4d02d.a491a"
            ],
            [
                "fa7b0002.68a23"
            ]
        ]
    },
    {
        "id": "25e1af4d.a14fd",
        "type": "template",
        "z": "4ae1ad00.14ece4",
        "name": "North",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "North",
        "output": "str",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "c455ae09.27684"
            ]
        ]
    },
    {
        "id": "fbe6b425.d81ed8",
        "type": "template",
        "z": "4ae1ad00.14ece4",
        "name": "East",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "East",
        "output": "str",
        "x": 550,
        "y": 280,
        "wires": [
            [
                "c455ae09.27684"
            ]
        ]
    },
    {
        "id": "fa7b0002.68a23",
        "type": "template",
        "z": "4ae1ad00.14ece4",
        "name": "West",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "West",
        "output": "str",
        "x": 550,
        "y": 360,
        "wires": [
            [
                "c455ae09.27684"
            ]
        ]
    },
    {
        "id": "a7c4d02d.a491a",
        "type": "template",
        "z": "4ae1ad00.14ece4",
        "name": "South",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "South",
        "output": "str",
        "x": 550,
        "y": 320,
        "wires": [
            [
                "c455ae09.27684"
            ]
        ]
    },
    {
        "id": "c455ae09.27684",
        "type": "ui_text",
        "z": "4ae1ad00.14ece4",
        "group": "a2ea1a2.d8af1e8",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Direction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "b7478e4e.da6bc",
        "type": "comment",
        "z": "4ae1ad00.14ece4",
        "name": "User interface to display a compass based on reading from the BlueCoin",
        "info": "",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "a2ea1a2.d8af1e8",
        "type": "ui_group",
        "z": "",
        "name": "BlueCoin Dashboard",
        "tab": "c6ec6804.7f63c8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6ec6804.7f63c8",
        "type": "ui_tab",
        "z": "",
        "name": "Compass",
        "icon": "dashboard"
    }
]