Flows/HelloWorld.flow
[
    {
        "id": "d3188aa2.21c448",
        "type": "inject",
        "z": "a457eddf.3220e",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "18d87f67.e51c01"
            ]
        ]
    },
    {
        "id": "18d87f67.e51c01",
        "type": "debug",
        "z": "a457eddf.3220e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "5bb55e2b.09cbc",
        "type": "comment",
        "z": "a457eddf.3220e",
        "name": "HelloWorld - send a timestamp every 5secs to debug console",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    }
]