Flows/richdashboard.flow
[
    {
        "id": "bd8c11f2.3c20c",
        "type": "ibmiot in",
        "z": "1168f20b.0eb51e",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterfaceId": "",
        "ruleId": "",
        "deviceId": "bluecoindjl",
        "applicationId": "",
        "deviceType": "bluecoin",
        "eventType": "",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": true,
        "allApplications": "",
        "allDeviceTypes": true,
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 101,
        "y": 340,
        "wires": [
            [
                "1681565c.b5df6a"
            ]
        ]
    },
    {
        "id": "dff809a0.b167f8",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "payload to angle",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Angle",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 381,
        "y": 220,
        "wires": [
            [
                "b54b594f.a08e58",
                "f7d5f6c5.0c8948",
                "9b4db32a.796a8"
            ]
        ]
    },
    {
        "id": "b54b594f.a08e58",
        "type": "debug",
        "z": "1168f20b.0eb51e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 531,
        "y": 160,
        "wires": []
    },
    {
        "id": "f7d5f6c5.0c8948",
        "type": "ui_gauge",
        "z": "1168f20b.0eb51e",
        "name": "",
        "group": "2185efd.11b671",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Compass",
        "label": "degrees",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 731,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b4db32a.796a8",
        "type": "switch",
        "z": "1168f20b.0eb51e",
        "name": "Direction",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "45",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "315",
                "vt": "num",
                "v2": "360",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "45",
                "vt": "num",
                "v2": "135",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "135",
                "vt": "num",
                "v2": "225",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "225",
                "vt": "num",
                "v2": "315",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 391,
        "y": 320,
        "wires": [
            [
                "29139308.23cc9c"
            ],
            [
                "29139308.23cc9c"
            ],
            [
                "a132625c.33a73"
            ],
            [
                "e2d1da7e.b06d28"
            ],
            [
                "45e9776c.838938"
            ]
        ]
    },
    {
        "id": "29139308.23cc9c",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "North",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "North",
        "output": "str",
        "x": 581,
        "y": 280,
        "wires": [
            [
                "496f59a9.1fa8a8"
            ]
        ]
    },
    {
        "id": "a132625c.33a73",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "East",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "East",
        "output": "str",
        "x": 581,
        "y": 320,
        "wires": [
            [
                "496f59a9.1fa8a8"
            ]
        ]
    },
    {
        "id": "45e9776c.838938",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "West",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "West",
        "output": "str",
        "x": 581,
        "y": 400,
        "wires": [
            [
                "496f59a9.1fa8a8"
            ]
        ]
    },
    {
        "id": "e2d1da7e.b06d28",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "South",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "South",
        "output": "str",
        "x": 581,
        "y": 360,
        "wires": [
            [
                "496f59a9.1fa8a8"
            ]
        ]
    },
    {
        "id": "496f59a9.1fa8a8",
        "type": "ui_text",
        "z": "1168f20b.0eb51e",
        "group": "2185efd.11b671",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Direction",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 741,
        "y": 340,
        "wires": []
    },
    {
        "id": "ae93908c.cc5ad",
        "type": "comment",
        "z": "1168f20b.0eb51e",
        "name": "User interface to display data from the BlueCoin together derived information such as baring and motion",
        "info": "",
        "x": 421,
        "y": 100,
        "wires": []
    },
    {
        "id": "f4b094a0.ee5c58",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Calm down {{payload}}",
        "output": "str",
        "x": 681,
        "y": 760,
        "wires": [
            [
                "8bf1249e.e84968"
            ]
        ]
    },
    {
        "id": "f6dc245f.898f78",
        "type": "switch",
        "z": "1168f20b.0eb51e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "-200",
                "vt": "num",
                "v2": "200",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "200",
                "vt": "num",
                "v2": "500",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "-200",
                "vt": "num",
                "v2": "-500",
                "v2t": "num"
            },
            {
                "t": "gt",
                "v": "500",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "-500",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 541,
        "y": 720,
        "wires": [
            [
                "2340a36d.eddd1c"
            ],
            [
                "36a43ffb.c3c2e"
            ],
            [
                "36a43ffb.c3c2e"
            ],
            [
                "f4b094a0.ee5c58"
            ],
            [
                "f4b094a0.ee5c58"
            ]
        ]
    },
    {
        "id": "8bf1249e.e84968",
        "type": "ui_text",
        "z": "1168f20b.0eb51e",
        "group": "f5770ed0.23ccf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movement",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 821,
        "y": 720,
        "wires": []
    },
    {
        "id": "6c09a58d.1cee3c",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "payload to Y",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Y",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 401,
        "y": 640,
        "wires": [
            [
                "8ade06ae.f35ec8",
                "f6dc245f.898f78"
            ]
        ]
    },
    {
        "id": "2340a36d.eddd1c",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Slow and gentle {{payload}}",
        "output": "str",
        "x": 681,
        "y": 680,
        "wires": [
            [
                "8bf1249e.e84968"
            ]
        ]
    },
    {
        "id": "36a43ffb.c3c2e",
        "type": "template",
        "z": "1168f20b.0eb51e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Its getting a little rough {{payload}}",
        "output": "str",
        "x": 681,
        "y": 720,
        "wires": [
            [
                "8bf1249e.e84968"
            ]
        ]
    },
    {
        "id": "1681565c.b5df6a",
        "type": "switch",
        "z": "1168f20b.0eb51e",
        "name": "",
        "property": "eventType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Compass",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Pressure",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Accelerometer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Accelerometer_Events",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 221,
        "y": 340,
        "wires": [
            [
                "dff809a0.b167f8"
            ],
            [
                "ced28329.10737"
            ],
            [
                "cb5904d6.1c9238"
            ],
            [
                "ae2664b7.6e20a8",
                "2b16a071.25547",
                "6c09a58d.1cee3c"
            ],
            []
        ]
    },
    {
        "id": "8ade06ae.f35ec8",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Y",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 571,
        "y": 640,
        "wires": [
            [
                "f355aef1.7c09e"
            ]
        ]
    },
    {
        "id": "ced28329.10737",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "payload to temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 411,
        "y": 440,
        "wires": [
            [
                "ac9d0bbc.9f6bf8"
            ]
        ]
    },
    {
        "id": "ae2664b7.6e20a8",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "payload to X",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.X",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 401,
        "y": 560,
        "wires": [
            [
                "299300ec.4aa9"
            ]
        ]
    },
    {
        "id": "2b16a071.25547",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "payload to Z",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Z",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 401,
        "y": 600,
        "wires": [
            [
                "932dbc5e.fd152"
            ]
        ]
    },
    {
        "id": "f355aef1.7c09e",
        "type": "ui_chart",
        "z": "1168f20b.0eb51e",
        "name": "",
        "group": "f5770ed0.23ccf",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Accelerometer",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 771,
        "y": 560,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ac9d0bbc.9f6bf8",
        "type": "ui_gauge",
        "z": "1168f20b.0eb51e",
        "name": "Temp Gauge",
        "group": "be276ab3.4d73a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 721,
        "y": 440,
        "wires": []
    },
    {
        "id": "299300ec.4aa9",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "X",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 571,
        "y": 560,
        "wires": [
            [
                "f355aef1.7c09e"
            ]
        ]
    },
    {
        "id": "932dbc5e.fd152",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Z",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 571,
        "y": 600,
        "wires": [
            [
                "f355aef1.7c09e"
            ]
        ]
    },
    {
        "id": "cb5904d6.1c9238",
        "type": "change",
        "z": "1168f20b.0eb51e",
        "name": "Extract pressure",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.Pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 411,
        "y": 480,
        "wires": [
            [
                "893430ce.84a94"
            ]
        ]
    },
    {
        "id": "893430ce.84a94",
        "type": "ui_gauge",
        "z": "1168f20b.0eb51e",
        "name": "Pressure Gauge",
        "group": "be276ab3.4d73a8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Pressure",
        "label": "units",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 731,
        "y": 480,
        "wires": []
    },
    {
        "id": "2185efd.11b671",
        "type": "ui_group",
        "z": "",
        "name": "Compass",
        "tab": "8fe6ab89.983678",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f5770ed0.23ccf",
        "type": "ui_group",
        "z": "",
        "name": "Motion",
        "tab": "8fe6ab89.983678",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "be276ab3.4d73a8",
        "type": "ui_group",
        "z": "",
        "name": "Environment",
        "tab": "8fe6ab89.983678",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8fe6ab89.983678",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    }
]